extends ../../../common/layout

block vars
  -
    const data = {
      href: "portfolio/3d/",
      main: false,
      title: "3d Models - Yervand Ayrapetyan",
      description: "Yervand Ayrapetyan's 3D models",
      keywords: "Yervan Ayrapetyan, 3D Artist, portfolio",
      url: "http://ayrapetyan.art/portfolio/3d/",
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }
    let filteredType = "3d"

block content
  .overlay
  include ../../../blocks/portfolio.pug
  block portfolio
