.breadcrumbs__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  margin-top: 15px;
  margin-bottom: 15px;
}

.breadcrumbs__item {
  padding-right: 15px;
  &::after {
    display: inline-block;
    padding-left: 10px;

    content: "/";
    vertical-align: middle;
  }
  &:last-of-type {
    & a {
      &:hover {
        color: white;
        cursor: unset;
      }
    }
    &::after {
      display: none;
    }
  }
}

.breadcrumbs__link {
  color: white;
  text-decoration: none;
}
