extends ../common/layout

block vars
  -
    const data = {
      href: "index.html",
      main: true,
      title: "3D Artist - Yervand Ayrapetyan",
      description: "Greetings. My name is Yervand. I am a 3D Artist, specialize in creating various objects, organic and non-organic.",
      keywords: "Yervan Ayrapetyan, 3D Artist, 3d Modeling, UV mapping, Rigging, Animation, Texturing",
      url: "http://ayrapetyan.art/",
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  include ../blocks/home.pug
