extends ../common/layout

block vars
  -
    const data = {
      href: "index.html",
      main: true,
      title: "3D Artist - Yervand Ayrapetyan",
      description: "Welcome to my little 'room' of projects and ideas. I am a 3D Artist that likes to experiment with various objects and concepts.",
      keywords: "Yervan Ayrapetyan, 3D Artist, portfolio",
      url: "http://ayrapetyan.art/",
      image: "og-logo",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  include ../blocks/home.pug
