extends ../common/layout

block vars
  -
    const data = {
      href: "models.html",
      main: false,
      title: "Models - Yervand Ayrapetyan",
      description: "Yervand Ayrapetyan's 3D models",
      keywords: "Yervan Ayrapetyan, 3D Artist, 3d Modeling, UV mapping, Rigging, Animation, Texturing,
      url: "http://ayrapetyan.art/models/",
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  include ../blocks/models.pug
