extends ../common/layout

block vars
  -
    const data = {
      href: "portfolio.html",
      main: false,
      title: "Portfolio - Yervand Ayrapetyan",
      description: "Yervand Ayrapetyan's portfolio",
      keywords: "Yervan Ayrapetyan, 3D Artist, portfolio",
      url: "http://ayrapetyan.art/portfolio.html",
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  include ../blocks/works.pug
