extends ../common/layout

block vars
  -
    const data = {
      href: "resume.html",
      main: false,
      title: "Resume - Yervand Ayrapetyan",
      description: "Yervand Ayrapetyan's resume",
      keywords: "Yervan Ayrapetyan, 3D Artist, portfolio",
      url: "http://ayrapetyan.art/resume.html",
      image: "og",
      name: "Yervand Ayrapetyan's web-site"
    }

block content
  .overlay
  include ../blocks/resume.pug
