@font-face {
  font-weight: 400;
  font-family: "Assistant";

  font-display: block;
  src: url("../fonts/assistant-400.woff2") format("woff2"),
       url("../fonts/assistant-400.woff2") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Poppins";

  font-display: block;
  src: url("../fonts/poppins-700.woff2") format("woff2"),
       url("../fonts/poppins-700.woff") format("woff");
}
