doctype html
block vars
html(lang="ru")
  include head
  body.nojs
    include svg
    .site
      include /common/mixins
      include /blocks/header
      main.main
        block content
      include /blocks/footer
    script(src="/js/script.js")
